<h2>Consultants List</h2>
<table>
  <tr>
    <th>Username</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Profile</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let consultant of consultants">
    <td>{{ consultant.username }}</td>
    <td>{{ consultant.phone }}</td>
    <td>{{ consultant.email }}</td>
    <td>{{ consultant.profile }}</td>
    <td>
      <button (click)="deleteConsultant(consultant.id)">Delete</button>
      <!--<button [routerLink]="['/Update', consultant.id]">Update</button>
      <button (click)="nominateForReward(consultant)">Nominate for Reward</button>-->
    </td>
  </tr>
</table>