<h2>Consultants List</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Profile</th>
    <th>Actions</th>
  </tr>
  <!-- <h2>hellooooooo</h2> -->
  <tr *ngFor="let consultant of restUserData.consultants">
    <td>{{ consultant.id }}</td>
    <td>{{ consultant.username }}</td>
    <td>{{ consultant.phone }}</td>
    <td>{{ consultant.email }}</td>
    <td>{{ consultant.profile }}</td>
    <td><button (click)="navigateToUpdatePage(consultant.id)">Update</button></td>
    

    
  </tr>
</table>
<!-- <button (click)="getConsultants()"></button> -->
<!-- <button (click)="navigateToUpdatePage(consultant.id)">Update<button></button> -->